@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-docusign-blue: #005cb9;
  --color-docusign-dark: #004a99;
  --color-docusign-yellow: #ffcc00;
  --color-docusign-bg: #f4f4f4;
}

body {
  @apply bg-docusign-bg text-slate-900 font-sans;
}
